<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Alex Parloti</title>


    <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link href="animations.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="node_modules/font-awesome/css/font-awesome.css">
    <link href="style.css" rel="stylesheet" type="text/css">

</head>
<body ng-app="portfolio">
<div ng-controller="repeatController">
    <!-- Modal -->
    <div class="modal fade" id="{{board.name}}Modal" tabindex="-1" role="dialog"
         aria-labelledby="{{board.name}}ModalLabel"
         aria-hidden="true" ng-repeat="board in boards | filter:q as results" on-finish-render="renderedModal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="{{board.name}}ModalLabel">{{board.name}}</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div ng-if="board.name==='About'">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col">
                                    <p>About</p>
                                    <h1>Hi,</h1><em>I'm Alex Parloti.</em>

                                    I currently work with Javascript, AngularJS and Animation in HTML5 as Freelancer.

                                    When I'm offline, I ... well, I guess I'm always online, but when I get tired of
                                    codes
                                    and books I play Age of Empires II: The Conquerors.
                                </div>
                            </div>
                        </div>
                    </div>
                    <div ng-if="board.name==='Skills'"><p>Skills</p></div>
                    <div ng-if="board.name==='Projects'"><p>Projects</p></div>
                    <div ng-if="board.name==='Testimonials'"><p>Testimonials</p></div>
                    <div ng-if="board.name==='Articles'"><p>Articles</p></div>
                    <div ng-if="board.name==='Contacts'">
                        <div role="navigation">
                            <nav class="nav nav-tabs flex-column flex-sm-row" role="tablist">
                                <a class="nav-link flex-sm-fill text-sm-center active" data-toggle="tab"
                                   href="#qr-code-panel" role="tab">
                                    <span class="fa fa-user-circle-o" aria-hidden="true"></span> QRCode
                                </a>
                                <a class="nav-link flex-sm-fill text-sm-center" data-toggle="tab" href="#vcard-panel"
                                   role="tab">
                                    <span class="fa fa-address-card-o" aria-hidden="true"></span> vCard
                                </a>
                                <a class="nav-link flex-sm-fill text-sm-center" data-toggle="tab" href="#social-panel"
                                   role="tab">Social
                                </a>
                                <a class="nav-link flex-sm-fill text-sm-center" data-toggle="tab" href="#message-panel"
                                   role="tab">
                                    Message</a>
                            </nav>
                        </div>
                        <div class="tab-content">
                            <div class="tab-pane active" id="qr-code-panel" role="tabpanel">
                                <figure class="figure">
                                    <figcaption class="figure-caption text-center">Add Me to Your Contacts
                                        List
                                    </figcaption>
                                    <div class="code code-{{browser}}"></div>
                                </figure>
                            </div>
                            <div class="tab-pane" id="vcard-panel" role="tabpanel">
                                <div class="text-center">
                                    <a class="nav-tabs nav-link active" href="vcard_alex_parloti.vcf"
                                       title="vCard download">
                                    <span class="fa fa-download" aria-hidden="true"></span>
                                </a>
                                </div>
                            </div>
                            <div class="tab-pane" id="social-panel" role="tabpanel">...</div>
                            <div class="tab-pane" id="message-panel" role="tabpanel">...</div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <!-- cards-->
        <div class="jumbotron">
            <div class="card-deck text-center">
                <div class="card card-inverse card-info text-center btn-info" data-toggle="modal"
                     data-target="#{{board.name}}Modal"
                     ng-repeat="board in boards | filter:q as results">
                    <div ng-click="open(board)">
                        <span class="card-img-top" ng-class="board.iconClass" aria-hidden="true"></span>
                        <div class="card-block">
                            <h4 class="card-title">
                                {{board.name}}
                            </h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="node_modules/jquery/dist/jquery.min.js"></script>
<script src="node_modules/tether/dist/js/tether.min.js"></script>
<script src="node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="node_modules/angular/angular.min.js"></script>
<script src="node_modules/angular-animate/angular-animate.min.js"></script>
<script src="node_modules/re-tree/re-tree.min.js"></script>
<script src="node_modules/ng-device-detector/ng-device-detector.min.js"></script>
<script src="script.js"></script>

</body>
</html>